    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html
    body {
    height: 100%;
    }
    
    h1, h2, h3, h4, h5, h6,
    p {
    margin-bottom: 16px;
    }
    
    /* everything above is considered reset for the browser */
    
    nav {
    height: 80px;
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }