    /* selects all elements that are on the page. This resets all margins and padding on a page. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html body {
    height: 100%;
}
    
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}
    
/* everything above is considered reset for the browser */
    
nav {
    height: 80px;
    background-color: rgb(221,108,151);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a:link {

    color: white;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;

}

a:hover {

    text-decoration: none;
    color:red;

}

.hero{

    width: 100%;
    opacity: 100%;
    background-image: linear-gradient(rgba(298, 163, 200, 0.52),rgba(111, 156, 299, 0.52));
    
}

img {

    width: 100%;
    opacity: 60%;

}

.petal {
    background-color: rgb(221,108,151);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    margin-bottom: 1px;
}

.callout{

    text-align: center;

}